:root {

  --sidebarHeight: 75%;
  --backcolor: lightgray;
}

* {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /*
       CSS comment
       The box-sizing CSS property sets how the total width and height of an element are calculated. 
       If you set box-sizing: border-box; on an element, padding, and border are included in the width and height:
    */
}

* body {
  line-height: 1.6;
  margin: 1;
  background:#FFF
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#butcon {
  display: flex;
  text-align: left;
}


@media screen and (max-width: 148px) {
  .logo {
    display: none;
    visibility: hidden;
  }
}

.sidebar {
  height: var(--sidebarHeight);
  width:15%;
  align-self: flex-start;
  border-radius: 20px;
  background-color: var(--backcolor);
  margin-top:8%;
  position:fixed;
  z-index: 1;
  }
  
.sidebar-left {
  left: 1%;
  }

  .sidebar-right {
  right: 1%;
  }

  .sidebar-pos{
    float: right;
    width: 180px;
  }

.bars {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1060px) {
  .sidebar-left {
      display: none !important;
      visibility: hidden !important;
  }
}
@media screen and (max-width: 1060px) {
  .sidebar-right {
      display: none !important;
      visibility: hidden !important;
  }
}

.posts {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-footer {
  display: flex;
  background: var(--backcolor);
  width: 100%;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

.footer-end {
  height: 300px;
}

.card {
  background: lightgray;
  width: 700px;
  height: auto;
  margin: 10px;
  padding: 7px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 500px;
}

.card-heading {
  padding-bottom: 7px;  
}

.card-heading img {
  vertical-align: middle;
  width: 60px;
  height: 40px;
}

.card-footer {
  padding-bottom: 7px;
   
}
.card-footer img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}


img 
{max-width: 100%;
max-height: 100%;
display: flex;
}


.right {
  width: 100%;
  text-align: right;
}

.box {
  display: flex;
  align-items: center;
}

strong {
  font-size: 150%;
}

span, a {
  font-size: 120%;
}

.header {
  width: 100%;
  top: 0;
  right: 0px;
  left: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  z-index: 2;

  background-color: #a2ccea;

}

.border-shadowed {
  border: 1px solid #646174;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  display: flex;
  flex-direction: row;

}

header button{
  margin-right: 1em;
}

header a {
  margin-right: 1em;
}

.button, #upload::-webkit-file-upload-button{
  width: fit-content;
  height: 2em;
  border-radius: 5px;
  border: solid 1px gray;

  
  background: #FFF;
  outline:none;
  transition: 0.5s linear 0.1s , color 0.5s linear 0s;
}

button + button {
  margin-left: 1em;
}

div form {
  display: flex;
}

.form {
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.window, .window-addpost {
  background-color: #a2ccea;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  height: 400px;
  flex-grow: 0.3;
}

.window-addpost {
  height: 300px;
  flex-grow: 0.2;
}

.window, .window-addpost > * {
  min-width: min-content;
  max-width: 500px;
} 

.window > input { 
  height: 25px;
}

p span {
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
}

/* Using cascading to set default margin-top and margin-bottom to 0em (default 1em) */
strong ~ p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

strong ~ input[type=text] {
  width: 50%;
  padding: 15px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;

  outline:none;
  transition: 0.5s linear 0.1s , color 0.5s linear 0s;
}

input[type=file]:focus {
  background: #333;
  color: #FFF
}

@media (hover: hover) {
  .header:hover {
    background-color: aqua;
  }

  button:hover {
    background: #333;
    color: #FFF
  }
  #upload::-webkit-file-upload-button:hover {
    background: #333;
    color: #FFF
  }
}

.logo {
  margin: 0;
  font-size: 1.1em;
  border-radius: 5px;
}

.input-addpost {
  display:flex;
  flex-direction: row;
  text-align: right;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.file-addpost {
  display:flex;
  flex-direction: row;
  text-align: right;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0);
}
textarea {
  max-width: 100%;
  resize: none;
  color: gray;
}

/* Styling for the file input button - same as*/
#upload::-webkit-file-upload-button {
  width: fit-content;
  height: 2em;
  border-radius: 5px;
  border: solid 1px gray;

  background: #FFF;
  outline:none;
  transition: 0.5s linear 0.1s , color 0.5s linear 0s;
  
}
/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  min-width: 160px;
  display: flex;
  flex-direction: column;

  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}