* {
  font-family: sans-serif;
  box-sizing: border-box;
  /*
       CSS comment
       The box-sizing CSS property sets how the total width and height of an element are calculated. 
       If you set box-sizing: border-box; on an element, padding, and border are included in the width and height:
    */
}

*/ body {
  line-height: 1.6;
  margin: 0;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #646174;
  background-color: #a2ccea;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav {
  display: flex;
}

/* Descendant selector */
header button{
  margin-left: 1em;
}

header a {
  padding-right: 1em;
}

.button {
  height: 20px;
}

div form {
  display: flex;
}

.form {
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.window {
  background-color: #a2ccea;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  height: 300px;
  flex-grow: 0.3;
}

.window > * {
  min-width: min-content;
  max-width: 500px;
} 

/* child selector */
.window > input { 
  height: 25px;
}

p span {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

p {
  margin: 0px;
}

/* Adjacent sibling selector */
span + span {
  margin-bottom: 0px
}

@media (hover: hover) {
  /* Pseudo class */
  .header:hover {
    background-color: aqua;
  }
}

.logo {
  margin: 0;
  font-size: 1.1em;
}

/*Addpost*/
.window-addpost {
  background-color: #a2ccea;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  height: 300px;
  flex-grow: 0.3;
}

.window-addpost > * {
  min-width: min-content;
  max-width: 500px;
} 

.input-addpost {
  display:flex;
  flex-direction: row;
  text-align: right;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.file-addpost {
  display:flex;
  flex-direction: row;
  text-align: right;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0);
}
textarea {
  max-width: 100%;
  resize: none;
  color: gray;
}